// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tag_cloud {
    width: 220px;
    line-height: 1.6em;
    .s { font-size: 0.8em; }
    .m { font-size: 1.2em; }
    .l { font-size: 1.8em; }
  }



#project .card2
{
    min-width: 480px;
    max-width: 480px;
    min-height: 600px;
    max-height: 600px;
    overflow: hidden;
    /* min-height: 650px; */
    margin-left: 50px;
    border: 1px solid transparent;
    display: inline-block;
    text-justify: inter-cluster;
}

#project .card4
{
    width: 70vw;
    max-width: 1080px;
    min-height: 600px;
    max-height: 600px;
    overflow: hidden;
    /* min-height: 650px; */
    margin-left: 50px;
    border: 1px solid transparent;
    display: inline-block;
    text-justify: inter-cluster;
}

#project .card3
{
    min-width: 600px;
    max-width: 600px;
    min-height: 600px;
    max-height: 600px;
    overflow: hidden;
    /* min-height: 650px; */
    margin-left: 50px;
    border: 1px solid transparent;
    display: inline-block;
    text-justify: inter-cluster;
}

#project .img-card-extra
{
  display: inline;
  height: 600px;
  margin-bottom: 30px;
  float: left;
  /* position: absolute; */
  /* filter: grayscale(100%); */
  /* transition:1s; */
}

#project .img-card-extra2
{
  display: inline;
  height: 600px;
  // width: 480px;
  margin-bottom: 1em;
  float: left;
  /* position: absolute; */
  /* filter: grayscale(100%); */
  /* transition:1s; */
}

#project .long-desc
{
    margin-top: 10px;
    width: 470px;
    float: left;
    font-size: 0.9em;
    // text-align: justify;
    // font-family: 'Lora', serif;

}

#project .short-desc
{
    margin-top: 10px;
    width: 470px;
    float: left;
    // font-size: 1.2em;
    // font-weight: lighter;
    font-family: 'Lora', serif;
    // font-style: italic;
    // text-align: justify;
    // font-weight: bold;
}


#project .sub-text-1
{
    margin-bottom: 1rem;
    text-align: left;
    font-size: 0.75em;
}

#project .title
{
    text-align: left;
}

#project .back-arrow
{
    /* margin-left: 100px; */
    align-self: start;
    margin-bottom: 30px;
}

#project .back-arrow img
{
    width: 30px;
    /* height: 75px; */
}

#project .img-card
{
    filter: grayscale(0%);
}

$font-family-sans-serif:
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  "Roboto",
  // Basic web fallback
  "Helvetica Neue", Arial, sans-serif !default;

body
{
  font-family: $font-family-sans-serif;
}

.project-tags
{
  text-align: center;
  margin-top: 10px;
  opacity: 0.0;
  transition: 1s;
}

.card:hover .project-tags
{
  opacity: 1.0;
}

fieldset.col-4
{
    margin-bottom: 10px;
}
.media-card
{
    margin-top: 1   rem;
    padding: 1rem;
    background-color: #eeeeee;
    min-height: 1000px;
}

.add_fields
{
    text-align: center;
    padding: 3rem;
}

.actions
{
    margin-top: 5rem;
}

.cancel-links
{
    text-align: center
}

.cancel-links a
{
    padding: 1rem;
    font-size: 1.2rem;
}


.remove_fields
{
    margin-top: 1rem;
    color: white;
}

.remove_fields:visited
{
    color: white !important;
}

label
{
    font-weight: 500;
}

.tag-item
{
    color: black;
    background-color: #eeeeee;
    border-radius: 5px;
    float: left;
    padding: 0.6rem;
    margin:0.2rem;
}

.media-long-desc h4
{
    font-family: 'Lora', 'serif';
    font-weight: 600;
}